<h1>Variables and values</h1>
<h2>Basic data types</h2>
<li>int (<span style="color:blue">42</span>)</li>
<li>float (<span style="color:blue">42.0</span>)</li>
<li>str (<span style="color:blue">'42'</span> or <span style="color:blue">"42"</span>)</li>
<li>bool (<span style="color:blue">True</span> or <span style="color:blue">False</span>)</li>
<li>Nonetype (<span style="color:blue">None</span>)</li>

In [1]:
number_of_students = 47
type(number_of_students)

# bob2 = 90

int

<h3>Variables</h3>
<ol>
<li>Python variables are untyped</li>
<li>Only values are typed</li>
<li>The type of the value pointed to by a variable can change</li>
<li>Names of variables</li>
<ul>
<li>Must start with a letter of the alphabet or _
<li>Can only contain digits (0..9), _ (underscore), letters (A..Za..z)
</ul>
</ol>

<h1>Operations with numbers</h1>

In [2]:
21 * 21 #Returns int

441

In [3]:
21 * 21.0 #Returns float

441.0

In [4]:
21/3 #Returns float (division always returns float)

7.0

In [5]:
21%4 #Returns int

1

In [6]:
21//3.0 #Returns float

7.0

In [7]:
21//3.2 #Returns float whose value is the lower integer bound of 21//3.2

6.0

In [8]:
21%4 #Returns int (the remainder of dividing 21 by 4)

1

In [9]:
21%4.4 #Returns float (21 - 21//4.4)

3.3999999999999986

In [10]:
21**4 #Returns int

194481

In [11]:
21**4.2 #Returns float

357537.0379611622

<h1>String operations</h1>

<h3>Indexing</h3>

In [4]:
x = "Always take 2 bananas to a party!"

In [5]:
x

'Always take 2 bananas to a party!'

In [14]:
len(x) #Returns the length of the string (an integer)

33

In [15]:
x[-1] #Returns the last character in x

'!'

In [16]:
x[-2] #Returns the second last character in x

'y'

In [17]:
# x[33] #IndexError. Out of range

<h3>Slicing</h3>

In [7]:
print(x[7:11:1]) #Returns the 8th to the 11th character (i.e., 11-7 characters)
#x[start:stop:step] 
#step default = 1
print(x[0::2])
print(x[::-1]) #reverse the string

take
Awy ae2bnnst  at!
!ytrap a ot sananab 2 ekat syawlA

In [19]:
x[7:] #Returns every character starting with location 7 (the 8th character) to the end of the string
#Omitting the endpoint defaults to the "rest of the string"

'take 2 bananas to a party!'

In [20]:
x[0::2] #returns a substring starting from 0, going to the end (omitted), 2 characters at a time

'Awy ae2bnnst  at!'

In [9]:
print(x[::-1]) #Start from whatever makes sense as the start, go to whatever makes sense as the end, go backward
# one character at a time
#Here it makes sense to start at the end and go all the way to the beginning (because of the -1)
#Returns a reversed string

!ytrap a ot sananab 2 ekat syawlA

<h3>Searching</h3>

In [22]:
x.find('nan') #Returns the location of the first 'nan' found

16

In [23]:
x.find('hello') #Returns -1. I.e., the substring was not found in x

-1

<h3>Immutability</h3>

In [4]:
x[3] = 'b' #TypeError. Can't change a string

TypeError: 'str' object does not support item assignment

In [10]:
x = "Hello"
y = "Hello"
y is x
# print(id(x),id(y))
#x and y are the same string

True

In [26]:
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Same string though initialized independently

140475881095472 140475881095472

In [9]:
#But not guaranteed!
x="Always take a banana to a party!"
y="Always take a banana to a party!"
# y == x
print(id(x),id(y))
#x and y now point to a different string though both have the same value
#when the string is very short python put them in the same memory location, otherwise not!

139672877768400 139672877767824

In [11]:
x == y

True

<h3>Concatenation</h3>

In [29]:
#The plus operator concatenates two strings to give rise to a third string
x="Hello"
y=" Dolly"
z=x+y
z
# print(x,y,z,id(x),id(y),id(z)) #x, y and z are all different strings

'Hello Dolly'

<h1>booleans</h1>

In [30]:
x=4
y=2
# z=(x==y) #False because x and y are not the same
z=(x is x) #True because x and y are the same
type(z)

bool

In [31]:
#Comparison is by value
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Different strings

140475881210800 140475881210800

In [32]:
print(x == y) #But they have the same value

True

In [33]:
x=8
print(x,bool(x)) #Non-zero numbers, strings with values are always True
#any non-0 numbers give back True
#any object created returns True

8 True

In [34]:
bool('')

False

In [35]:
x='' #Empty string
print(x,bool(x)) #Empty strings, 0 numbers are always False

 False

<h3>Logical operators</h3>

In [11]:
x=3
y=5
print(x>2 or y>2) #Logical expression: or / and --> give True or False
#True because both x and y are greater than 2

True

In [37]:
print(x>2 and y<2) #False because one is False

False

In [38]:
print(x<2 and y<2) #False because both are False

False

In [39]:
print(x>2 or y>2) #True because at least one is True

True

In [40]:
print(x<2 or y>2) #True because at least one is True

True

In [41]:
print(x<2 or y<2) #False because both are False

True

In [42]:
print(not(x>2 or y>2)) #False because x>2 or y>2 is True

False

In [20]:
x=2
print(x or y) #2 because x is True (non-zero) so no need to evaluate y. Value of x is returned

2

In [21]:
print(x and 0+3) #5 because x is non-zero but need to check the second operand as well. That evaluates to 3
print(0+3 and x) #return the last thing to evaluate
x = 0
print(0+3 and x)

3
2
0

<h1>Assignment</h1>

In [22]:
x = q + 10 #NameError! q is not defined

NameError: name 'q' is not defined

In [46]:
# p

In [23]:
p = 7
x = p + 10 #This works

In [25]:
x,y = 3,4 #number of variables = number of numbers
print(x,y) #x is 3 and y is 4
x = 3,6 #tuple
print(x)

3 4
(3, 6)

In [49]:
x = 7
x += 4 
print(x) #x is 11 because x += 4 is equivalent to x = x+4

11

In [26]:
a = [1,2,3,333,333,4] #square brackets : LIST
b = [1,2,3,333,333,4]
for num in b:
    if num == 333:
        a.remove(num)
print(a)

[1, 2, 3, 4]

In [27]:
a = [1,2,3,333,333,4]
for num in a:
    a.remove(num)
    print(a)
#NOT iterate on a list when you change it in the meantime

[2, 3, 333, 333, 4]
[2, 333, 333, 4]
[2, 333, 4]

In [28]:
a = [1,2,3,333,333,4]
for num in a[:]: #I don't specify the begininng
    a.remove(num)
    print(a)

[2, 3, 333, 333, 4]
[3, 333, 333, 4]
[333, 333, 4]
[333, 4]
[4]
[]

In [29]:
a = [1,2,3,333,333,4]
print(id(a),id(a[:]))
#different IDs

140578726708672 140578726624192